<% provide(:title, "概要") %>
<h1>概要</h1>

<div style="text-align:center">
<p>
旅行の思い出をPOSTRIPに投稿しましょう。まずはアカウント作成から。<br>
投稿は簡単、ログインしたら観光地名所と住所を入力するだけ。<br>
今すぐ<%= link_to "始めてみましょう！", signup_path %>
</p>
</div>