@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  background: url(sea.jpg) center center / cover no-repeat fixed;
  padding-top: 60px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: transparent;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
/*
.slideshow{
  width: 640px;
  height: 428px;
}
.slideshow img{
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 8;
  opacity: 0.0;
}
.slideshow img.active{
  z-index: 10;
  opacity: 1.0;
}
.slideshow img.last-active{
  z-index: 9;
}
*/

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/*トップページ画像　by瀬上*/
.photo-show{
  height: 426px;
  margin: 30px auto;
  max-width: 100%;
  position: relative;
  width: 426px;
}

.photo-show img{
  animation: show 16s infinite;
  -webkit-animation: show 16s infinite;
  border-radius: 50%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  position: absolute;
}

@keyframes show{
  0%{opacity:0}
  5%{opacity:1}
  10%{opacity:1}
  20%{opacity:0}
}

@-webkit-keyframes show{
  0%{opacity:0}
  5%{opacity:1}
  10%{opacity:1}
  20%{opacity:0}
}

.photo-show img:nth-of-type(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.photo-show img:nth-of-type(2) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.photo-show img:nth-of-type(3) {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}

.photo-show img:nth-of-type(4) {
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

.photo-show img:nth-of-type(5) {
  animation-delay: 8s;
  -webkit-animation-delay: 8s;
}

.photo-show img:nth-of-type(6) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

.photo-show img:nth-of-type(7) {
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

.photo-show img:nth-of-type(8) {
  animation-delay: 14s;
  -webkit-animation-delay: 14s;
}

.photo-show img{
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.photo-show:hover img{
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  border-radius: 0;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*micropost 瀬上*/
.spot{
  width: 100px;
  height: 50px;
}