<footer class="footer">
  <small>
    Application Developers: Aomori Technical High School System engineering'17
  </small>
  <nav>
    <ul>
      <li><%= link_to "概要",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><a href="http://www.aomori-th.asn.ed.jp"　target="_blank"> 青工ニュース</a></li>
    </ul>
   
  </nav>
</footer>